
* {
	margin: 0 auto;/*topMargin=bottomMargin=0 leftMargin=rightMargin->(center)*/
	padding: 0;
	border: 0;
	-webkit-font-smoothing: antialiased;/* avoid font's zigzag */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	font: 100%/1.5em Helvetica,Arial, sans-serif;
	color: #eee;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	font-variant: small-caps;
	text-align: justify;
}

img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	border:0;
}

#home { 
	background: url(../_imgs/_photos/room1.jpg) center center no-repeat fixed; 
	min-height: 100%;
	height: 100%; 
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;

}

#home content { 
	height: auto;/*adjust by inner content*/
	background: none;
	position: absolute;
	text-align: center;
	bottom: 75px;
	width: 100%;
}
#home bottomBox, #page1 bottomBox, #page2 bottomBox, #page3 bottomBox, #page4 bottomBox, #page5 bottomBox { 
	height: 100px;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	/*background-color: none;*/
	color: gray;
	padding-top: 30px;
}

content {
	background-color: #8f0000;
}

#page1 {
	background: url(../_imgs/_photos/room2.jpg) center center no-repeat fixed; min-height: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;
}
 
#page1 content {
	
	height: 350px;
	position: absolute;
	bottom: 75px;
	width: 100%;
	/*background-color: #8f0000;*/
	padding-top: 130px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#page2 { 
	background: url(../_imgs/_photos/room3.jpg) center center no-repeat fixed; min-height: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#page2 content {
	height: 350px;
	position: absolute;
	bottom: 75px;
	width: 100%;
	/*background-color: #8f0000;*/
	padding-top: 130px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#page3 { 
	background: url(../_imgs/_photos/room4.jpg) center center no-repeat fixed; min-height: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#page3 content {
	height: 350px;
	position: absolute;
	bottom: 75px;
	width: 100%;
	/*background-color: #8f0000;*/
	padding-top: 130px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#page4 { 
	background: url(../_imgs/_photos/room5.jpg) center center no-repeat fixed; min-height: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#page4 content {
	height: 300px;
	position: absolute;
	text-align: center;
	bottom: 75px;
	width: 100%;
	/*background-color: #8f0000;*/
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#page5 { 
	background: url(../_imgs/_photos/room6.jpg) center center no-repeat fixed; min-height: 100%;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-size:cover;
}

#page5 content {
	height: 350px;
	position: absolute;
	text-align: center;
	bottom: 75px;
	width: 100%;
	/*background-color: #8f0000;*/
	padding-top: 130px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#page6 { 
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	background-color: #cccccc;
}

#page6 content {
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
	padding: 10%;
}

#likeButton{
	position: fixed;
	top: 0;
	left:300px;
	width: 120px !important;
	height: 30px !important;
	text-align: center;
	z-index: 150;
}
#logo{
	position: fixed;
	top: 20px;
	left:10px;
	width: 40px;
	height: 145px;
	z-index: 50;
}

#menuHolder{
	position: fixed;
	left:70px;
	width: 150px;
	height: 250px;
	text-align: left;
	z-index: 100;
}
#menu{
	font-size: 10px;
	width: 240px;
	height: 220px;
	background-color: #ad0000;
	color: #ffffff;
	padding: 20px;
	float:left;
}
#menuButton{
	width: 37px;
	height: 34px;
	float: left;
}

#bt1{
	background: url("../_imgs/_buttons/bt1.png") no-repeat 0 0;
}
#bt1:hover{
	background-position: 0 -30px;
}
#bt2{
	background: url("../_imgs/_buttons/bt2.png") no-repeat 0 0;
}
#bt2:hover{
	background-position: 0 -30px;
}
#bt3{
	background: url("../_imgs/_buttons/bt3.png") no-repeat 0 0;
}
#bt3:hover{
	background-position: 0 -30px;
}
#bt4{
	background: url("../_imgs/_buttons/bt4.png") no-repeat 0 0;
}
#bt4:hover{
	background-position: 0 -30px;
}
#bt5{
	background: url("../_imgs/_buttons/bt5.png") no-repeat 0 0;
}
#bt5:hover{
	background-position: 0 -30px;
}
#bt6{
	background: url("../_imgs/_buttons/bt6.png") no-repeat 0 0;
}
#bt6:hover{
	background-position: 0 -30px;
}
.buttons{
	display: block;
	width: 165px;
	height:30px;
}
#btSubmit{
	display: block;
	width: 60px;
	height:30px;
	background: url("../_imgs/_buttons/submit.png") no-repeat 0 0;
}
#btSubmit:hover{
	background-position: 0 -30px;
}
.textinput{
	/*width: 45%;*/
	width: 75%;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 3px 3px 5px #000000;
	-webkit-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
}
.txtarea {
	width: 100%;
	/*height: 40%;*/
	height: 135px;
	padding: 10px;
	margin-bottom: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 3px 3px 5px #000000;
	-webkit-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
}